
.header {
    background-color: #fff6bf;
    text-align: center;
    padding: 20px;
}
.inline-block {
    display: inline-block;
}
.p.b.b {
    font-family: sans-serif;

}

.body {
        background-color: #FFFEEC;
      }

     footer {
        background-color: #86908f;
        padding-right: 25px;
        color: #FFF6BF;
        }
      .footer ul {
        list-style: none;
        padding-right  150px;
      }
      .footer li {
        display: inline-flex;
        padding: 10px 70px;
      }
      .footer-content-right {
        padding-right:40px;
        margin-top:20px;
        float:right;
      }
  
  .icon-style {
    height:40px;
    margin-left:20px;
    margin-top:5px;
  }
  
  .icon-style:hover {
    background-color:yellow;
    padding:5px;
  }
  
  
  